
html {
  background-color: #f4f5eb;
  color: #242423;
  overflow-y: scroll;
}

.colorPrompt {
  height: 100%;
  width: auto;
  max-height: 25vh;
}

.option {
  height: 100%;
  width: auto;
  max-height: 25vh;

  margin: 0 0.5vh;
}

.colorQuestion {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1vh;
}

.break {
  flex-basis: 100%;
}

#vertical-align {
  height: 23vh;
}

.numberPrompt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  font-size: 60px;
}

.numberOption {
    background-color: #f4f5eb;
    border: 0px;
    font-size: 5vh;
    margin: 40px;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.start {
  background-color: #f4f5eb;
  border: 0px;
  font-size: 8vh;
  display: flex;
  margin: auto;
  align-items: center;
  height: 95vh;
}

.tilePrompt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: auto;
}

.tilePrompt img {
  height: 45vh;
}

.interferQuestion {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}

.optionTile {
  height: 100%;
  width: auto;
  max-height: 30vh;

  margin: 0 2vh;
}

.title {
  text-align: center;
  font-size: 2.5vh;
}



table {
  display: inline-table;
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

